<div id='sidebar'>
  <%= render :partial => 'layouts/partial/sidebar' %>
</div>
<%= render :partial => 'layouts/partial/top' %>
<div id="page-content-wrapper" style="background-color: #ccc;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <div style="width: 50%; float: left;">
          <%= form_tag("/code/submit.json", method: "post", class: "run_code_form") do %>
              <% if @snippet %>
                  <%= render :partial => 'layouts/partial/view_snippet', @snippet=>@snippet %>
                  <% else %>
                  <%= render :partial => 'layouts/partial/new_snippet', @snippet=>@snippet %>
              <% end%>

              <br/>
              <input type="submit" class="btn btn-danger run_code" value="Run code">
          <% end %>
        </div>

        <div style="  background-color: #fafafa;
                width: <% if !@snippet %>47%<% else %>29%<% end %>;
                float: left;
                color: #999;
                margin-left: 1%; height: 384px;">
          <span style="display: block; text-align: center; font-size: 14px; padding-top: 50px; width: 90%; margin: 0 auto;" class="code_result">Code results will be displayed here.</span>
        </div>
        <div style="  background-color: #fafafa;
                width: <% if @snippet %>19%<% else %>1%<% end %>;
                float: left;
                color: #999;
                margin-left: 1%; height: 384px;">
              <span style="display: block; text-align: center; font-size: 14px; padding-top: 50px; width: 90%; margin: 0 auto;">
                <% if @snippet %><h4>Comments</h4><% end %>
                <% if user_signed_in? and @snippet %>
                    <%= form_tag("/home/comment.json", method: "post", class: "add_comment_form") do %>
                        <input type="hidden" value="<%= @id %>" name="snippet_id"/>
                        <textarea name="comment" class="form-control" placeholder="Do you have comment?"></textarea>
                        <a href="javascript: void(0)" onclick="javascript: addComment()">Add comment</a> <br/><br/>
                    <% end %>
                <% end %>

                <% if @snippet %>
                <% if @comments %>
                  <% @comments.each do |c| %>
                    <ul class="ul_comments">
                      <li><%= c.body %> <br/><span style="font-size: 10px"><%= c.created_at %></span></li>
                    </ul>
                    <% end %>
                <% end %>
                <% end %>
              </span>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    var request;
    function fire_async(data, url) {


        request = $.ajax({
            url: url,
            method: "POST",
            data: data,
            dataType: "json"
        });
    }
    $(document).ready(function () {
        $(".run_code").on("click", function (ev) {
            ev.preventDefault();
            fire_async(getFormData($(".run_code_form")), $(".run_code_form").attr("action"));


            request.done(function (msg) {
                var res = eval(msg);
                $(".code_result").html('<pre>' + res.result + '</pre>');
            });

            request.fail(function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            });
        })
    });
    function addComment() {


        fire_async(getFormData($(".add_comment_form")), $(".add_comment_form").attr("action"));
        request.done(function (msg) {
            var res = eval(msg);
            console.log(res);
            $(".ul_comments").append('<li>' + res.result.comment + '<br /><span style="font-size: 10px">' + res.result.created_at + '</span></li>');

        });
    }
    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }

</script>